.register {
  .file {
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}
